*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #5C6CF9;
}
.Mynav{
    background-color:transparent !important;
    padding-left:1rem;
    padding-right: 1rem;
}
.navlinking{
    margin-right:0rem;
}
.nalinkingchildrenbody{
    padding-right:0rem;
}
.nalinkingchildren{
    color: aliceblue !important;
    font-size: 0.92rem;
    margin-right: 0.8rem;
}




.nalinkingchildren::before {
    transition: 300ms;
    height: 3px;
    border-radius:2rem;
    content: "";
    position: absolute;
    background-color: white ;
    margin-bottom:1rem;
  }
  
  .nalinkingchildren::before {
    width: 0rem;
    bottom: 10px;
    margin-bottom: 0.5rem;
    margin-bottom:1rem;
  }
  
  .nalinkingchildren:hover::before {
    width: 3rem;
    background-color: white;
    margin-bottom:1rem;
  }





#nav-icon3 {
    width: 30px;
    height: 10px;
    position: relative;
    margin: 20px auto;
   
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
   #nav-icon3 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #ffffff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  #nav-icon3 span:nth-child(1) {
    top: 0px;
  }
  
  #nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
    top: 10px;
  }
  
  #nav-icon3 span:nth-child(4) {
    top: 20px;
  }
  
  #nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  
  #nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  #nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

.landingText{
font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 45px;
line-height: 50px;
color: #ffffff;
}
.landingTextparagraph{
position: absolute;
width: 90%;
color: #ffffff;
font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 0.9rem;
line-height: 162.5%;
}
.imageLanding{
    margin-top: 17rem;
}


.firstbody{
    padding-left:1rem;
    padding-right:1rem;
    padding-top: 0rem;
    padding-bottom:3rem;
    width: 100%;
}
.firstbodyRight{
    margin-top:2rem;
}
.secondbody{
    background-image: url(./images/designbg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    padding-left:1rem;
    padding-right:1rem;
    width:100%;
}
.RightAbout{
    margin-top: 2rem;
}
.AboutmeText{
font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 2.5rem;
line-height: 162.5%;
color: #5C6CF9;
}
.liness{
    margin-top:-3rem;
}
.Aboutmeparagraph{
    font-size: 0.9rem;
    font-family: poppins;
    width: 100%;
    color: #181818;
}
.thirdbody{
   
    height: auto;
    padding-left:1rem;
    padding-right:1rem;
    padding-top: 3rem;
    padding-bottom:4rem;
    width:100%;
    
}
.SkillText{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 162.5%;
    color: #ffffff;
    }
.bodybox{
    width:100%;
    height:15rem;
    background-color: #ECECEC;
    border-radius: 0.2rem;
    margin-bottom: 1.6rem;
    padding:1.0rem;
    padding-top: 2rem;
    transition: 0.03s;
    
}

.linex{
    margin-top:-3rem;
}
.listedskills{
    font-family: poppins;
    font-size: 0.9rem;
    color: #181818;

}

.skillsheading{
    color: #5C6CF9;
    font-family: poppins;
    font-weight: bold;
}
.Fourthbody{
   
    height: auto;
    padding-left:1rem;
    padding-right:1rem;
    padding-top: 3rem;
    padding-bottom:4rem;
    width:100%;
}



.boxxx{
    /* background-color: #0275d8 !important; */
    background: transparent !important;
    border-color: #ffffff;
    border: 1;
    color: #ffffff;;
    font-family:   poppins;
    margin-bottom: 2rem;
    transition: 0.7s;
    border-radius:0.5rem;
  }
  
  
  
 
  
  .iconbody{
    height: 56px;
    width: 56px;
    border-radius: 60px;
    background-color: #379cf5;
   display: flex;
    align-items: center;
    text-align: center;
    /* display: inline; */
   
  }
  .listwork {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
  }
  .linebox{
    background-color: #f0f0f0 !important;
    transition: 0.7s;
  }
  .Migrant{
      margin-top: 0.5rem;
      margin-bottom: 2rem;
  }
  .landingTextName{
      font-family: poppins;
      color: #ECECEC;
  }
  .linesName{
      height:0.2rem;
      width: 3rem;
      background-color: #ECECEC;
      border-radius: 2rem;
  }
  .Fivebody{
   
    height: auto;
    padding-left:1rem;
    padding-right:1rem;
    padding-top: 3rem;
    padding-bottom:4rem;
    width:100%;
}
.bodyboxImage{
    width:100%;
    padding: 0rem;
}
.productdescription{
    color: #ECECEC;
    font-size:0.8rem;
    font-family:poppins;
    width:100%;
}
.RegisteredbtnLogin{
    border: 0.2px Solid  #ffffff;
    color: rgb(228, 228, 228);
    width: 80%;
    margin-top: 1rem;
    margin-bottom: 2rem;
    background:#5C6CF9;
    padding-top:0.2rem;
    padding-bottom: 0.2rem;
    margin-left:0rem;
    padding-left:2.2rem;
    padding-right:2.2rem;
    border-radius:0.2rem;
    animation-timing-function: ease-in;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
   .RegisteredbtnLogin:hover{
    border: 0.5px Solid  #ffffff;
    color: rgb(228, 228, 228);
   
    background: #5565f5;
    padding-top:0.2rem;
    padding-bottom: 0.2rem;
    
    padding-left:2.2rem;
    padding-right:2.2rem;
    border-radius:0.2rem;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }





@media (min-width:576px)  {
    .Mynav{
        background-color:transparent !important;
        padding-left:1rem;
        padding-right: 1rem;
    }
    .navlinking{
        margin-right:0rem;
    }
    .nalinkingchildrenbody{
        padding-right:orem;
    }
    .nalinkingchildren{
        color: aliceblue !important;
        font-size: 0.92rem;
    }
    .landingText{
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 45px;
        line-height: 50px;
        color: #ffffff;
        }
        .imageLanding{
            margin-top: 14rem;
        }
        .landingTextparagraph{
        position: absolute;
        width: 90%;
        color: #ffffff;
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 0.9rem;
        line-height: 162.5%;
        }
        .imageLanding{
            margin-top: 14rem;
        }
        
        
        .firstbody{
            padding-left:1rem;
            padding-right:1rem;
            padding-top: 0rem;
            width: 100%;
        }
        .firstbodyRight{
            margin-top:2rem;
        }
        .secondbody{
            background-image: url(./images/designbg.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100vh;
            padding-left:1rem;
            padding-right:1rem;
        }
        .RightAbout{
            margin-top: 3rem;
        }
        .AboutmeText{
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 2.5rem;
        line-height: 162.5%;
        color: #5C6CF9;
        }
        .liness{
            margin-top:-3rem;
        }
        .Aboutmeparagraph{
            font-size: 0.9rem;
            font-family: poppins;
            width: 100%;
            color: #181818;
        }
        .thirdbody{
   
            height: auto;
            padding-left:1rem;
            padding-right:1rem;
            width:100%;
            
        }
        .Fivebody{
   
            height: auto;
            padding-left:1rem;
            padding-right:1rem;
            padding-top: 3rem;
            padding-bottom:4rem;
            width:100%;
        }
        
    

}
  
  
  
  
  


  
    @media (min-width:768px)  {
        .Mynav{
            background-color:transparent !important;
            padding-left:1rem;
            padding-right: 1rem;
        }
        .navlinking{
            margin-right:0rem;
        }
        .nalinkingchildrenbody{
            padding-right:orem;
        }
        .nalinkingchildren{
            color: aliceblue !important;
            font-size: 0.92rem;
        }
        .landingText{
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 50px;
            line-height: 50px;
            color: #ffffff;
            }
            .imageLanding{
                margin-top: 14rem;
            }
            .landingTextparagraph{
            position: absolute;
            width: 90%;
            color: #ffffff;
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 0.9rem;
            line-height: 162.5%;
            }
            .imageLanding{
                margin-top: 0rem;
            }
            
            
            .firstbody{
                padding-left:1rem;
                padding-right:1rem;
                padding-top: 0rem;
                width: 100%;
            }
            .firstbodyRight{
                margin-top:8rem;
            }
            .secondbody{
                background-image: url(./images/designbg.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 100vh;
                padding-left:1rem;
                padding-right:1rem;
            }
            .RightAbout{
                margin-top: 10rem;
            }
            .AboutmeText{
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 2.5rem;
            line-height: 162.5%;
            color: #5C6CF9;
            }
            .liness{
                margin-top:-3rem;
            }
            .Aboutmeparagraph{
                font-size: 0.9rem;
                font-family: poppins;
                width: 90%;
                color: #181818;
            }
            .thirdbody{
   
                height: auto;
                padding-left:1rem;
                padding-right:1rem;
                width:100%;
                
            }
            .Migrant{
                margin-top: 10rem;
                margin-bottom: 2rem;
            } 
            .Fivebody{
   
                height: auto;
                padding-left:1rem;
                padding-right:1rem;
                padding-top: 3rem;
                padding-bottom:4rem;
                width:100%;
            }
            .RegisteredbtnLogin{
                border: 0.2px Solid  #ffffff;
                color: rgb(228, 228, 228);
                width: 40%;
                margin-top: 1rem;
                background:#5C6CF9;
                padding-top:0.2rem;
                padding-bottom: 0.2rem;
                margin-left:0rem;
                padding-left:2.2rem;
                padding-right:2.2rem;
                border-radius:0.2rem;
                animation-timing-function: ease-in;
                transition-duration: 0.6s;
                transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
              }
               .RegisteredbtnLogin:hover{
                border: 0.5px Solid  #ffffff;
                color: rgb(228, 228, 228);
                width: 60%;
               
                background: #5565f5;
                padding-top:0.2rem;
                padding-bottom: 0.2rem;
                
                padding-left:2.2rem;
                padding-right:2.2rem;
                border-radius:0.2rem;
                transition-duration: 0.6s;
                transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
              }
            
        
    }
  
  
  
  
  
  
    @media (min-width:992px)  {
        .Mynav{
            background-color:transparent !important;
            padding-left:1rem;
            padding-right: 1rem;
        }
        .navlinking{
            margin-right:0rem;
        }
        .nalinkingchildrenbody{
            padding-right:2rem;
        }
        .nalinkingchildren{
            color: aliceblue !important;
            font-size: 0.92rem;
        }
        .landingText{
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 50px;
            line-height: 50px;
            color: #ffffff;
            }
            .imageLanding{
                margin-top: 14rem;
            }
            .landingTextparagraph{
            position: absolute;
            width: 90%;
            color: #ffffff;
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 0.9rem;
            line-height: 162.5%;
            }
            .imageLanding{
                margin-top: 2rem;
            }
            
            
            .firstbody{
                padding-left:1rem;
                padding-right:1rem;
                padding-top: 0rem;
                width: 100%;
            }
            .firstbodyRight{
                margin-top:10rem;
            }
            .secondbody{
                background-image: url(./images/designbg.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 100vh;
                padding-left:1rem;
                padding-right:1rem;
            }
            .RightAbout{
                margin-top: 15rem;
            }
            .AboutmeText{
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 2.5rem;
            line-height: 162.5%;
            color: #5C6CF9;
            }
            .liness{
                margin-top:-3rem;
            }
            .Aboutmeparagraph{
                font-size: 0.9rem;
                font-family: poppins;
                width: 90%;
                color: #181818;
            }
            .thirdbody{
   
                height: auto;
                padding-left:1rem;
                padding-right:1rem;
                width:100%;
                
            }
            .SkillText{
                font-family: Poppins;
                font-style: normal;
                font-weight: bold;
                font-size: 2.5rem;
                line-height: 162.5%;
                color: #ffffff;
                }
                .Migrant{
                    margin-top: 9rem;
                    margin-bottom: 2rem;
                }
                .Fivebody{
   
                    height: auto;
                    padding-left:1rem;
                    padding-right:1rem;
                    padding-top: 3rem;
                    padding-bottom:4rem;
                    width:100%;
                }
  
    }
  
  
  
  
  
  
    @media (min-width:1200px)  {
        .Mynav{
            background-color:transparent !important;
            padding-left:10rem;
            padding-right: 10rem;
        }
        .navlinking{
            margin-right:0rem;
        }
        .nalinkingchildrenbody{
            padding-right:0rem;
        }
        .nalinkingchildren{
            color: aliceblue !important;
            font-size: 0.92rem;
        }
        .imageLanding{
            margin-top: 0rem;
        }
        .landingText{
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 72px;
            line-height: 70px;
            color: #ffffff;
            }
            .landingTextparagraph{
            position: absolute;
            width: 90%;
            color: #ffffff;
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 0.9rem;
            line-height: 162.5%;
            }
            
            
            .firstbody{
                padding-left:10rem;
                padding-right:10rem;
                padding-top: 3rem;
            }
            .firstbodyRight{
                margin-top:10rem;
            }
            .secondbody{
                background-image: url(./images/designbg.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 100vh;
                padding-left:10rem;
                padding-right:10rem;
            }
            .RightAbout{
                margin-top: 15rem;
            }
            .AboutmeText{
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 2.5rem;
            line-height: 162.5%;
            color: #5C6CF9;
            }
            .liness{
                margin-top:-3rem;
            }
            .Aboutmeparagraph{
                font-size: 0.9rem;
                font-family: poppins;
                width: 90%;
                color: #181818;
            }
            .thirdbody{
   
                height: auto;
                padding-left:10rem;
                padding-right:10rem;
                width:100%;
                
            }
            .Fourthbody{
   
                height: auto;
                padding-left:10rem;
                padding-right:10rem;
                padding-top: 3rem;
                padding-bottom:4rem;
                width:100%;
            }
            .Migrant{
                margin-top: 11rem;
            }
            .Fivebody{
   
                height: auto;
                padding-left:10rem;
                padding-right:10rem;
                padding-top: 3rem;
                padding-bottom:4rem;
                width:100%;
            }
            
        
    }